<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="upload" enctype="multipart/form-data">
    <p>id：<input type="text" name="id" /></p>
    <p>name：<input type="text" name="name" /></p>

    <input type="file" name="files">
    <input type="submit" value="上传">
</form>

<form method="post" action="download" enctype="multipart/form-data">
    <input type="text" name="fileName">
    <input type="submit" value="下载">
</form>
</body>

</html>